* {
    margin: 0;
    padding: 0;
}
*,
*::before,
*::after {
    box-sizing: border-box;
} 
:root {
    --background-color: white;
    --text-color: #0F0B38;
    --nav: #1C50D9;
    --nav-hover: #65F1D5;
    
}
body {
    overflow-x: hidden;
    line-height: 1.4em;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Tilt Neon', cursive; */
}
.darkmode {
    --background-color: #0F0B38;
    --text-color: #C6E0FD;
    --nav: #5B7DD9;
    --nav-hover: lightblue;
}
.nav {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    position: relative;
    align-items: center;
}
.nav--open {
    background-color: var(--nav);
}
.nav--open .nav__title {
    color: var(--background-color);
}
.nav--open .nav__title:hover {
    color: var(--text-color);
    transition: color 250ms;
}
.nav__title,
.nav__menu-link,
.nav__submenu-link {
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    border: none;
    background-color: transparent;
    font-size: 16px;
}
.nav__menu-link:hover,
.nav__submenu-item:hover {
    background-color: var(--nav);
    color: var(--background-color);
    transition: color 250ms;
}
.nav__title {
    font-weight: 900;
    font-size: 15px;
    padding: 15px;
}
.nav__title:hover {
    color: var(--nav);
    transition: color 250ms;
}
.nav__menu-list {
    width: 100vw;
    list-style-type: none;
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    bottom: 1px;
    transform: translateY(100%);
    justify-content: center;    
}
.nav__menu-list--open {
    display: flex;
    background-color: var(--background-color);
}
.nav__menu-item {
    min-width: 100%;
    cursor: pointer;
    display: flex;
    justify-content: space-around;
}
.nav__menu-link {
    min-width: 50%;
    max-width: 50%;
    padding: 15px 0 15px 0;
    text-align: center;
    display: block;
}
.nav__menu--ramification {
    text-align: center;
}
.nav__menu-item--reduction {
    width: 50%;
    align-self: start;
    justify-content: center;
}
.nav_menu-link--modification {
    align-items: center;
}
.nav__theme-switch {
    padding: 15px 0 15px 0;
    display: flex;
    justify-content: center;
    transition: transform 150ms ease-in-out;
    cursor: pointer;
    position: relative;
}
.theme-switch__toogle {
    -webkit-appearance: none;
    appearance: none;
    clip: rect(0 0 0 0); 
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap; 
    width: 1px;
    display: flex;
}
.theme-switch__icon {
    position: relative;
    z-index: 2;
}
.theme-switch__toogle:checked + .nav__theme-switch {
    transform: rotate(180deg);
}
.theme-switch--animation {
    display: flex;
    align-items: center;
}
.theme-switch--animation:hover::after {
    animation: pulse 1000ms cubic-bezier(0.9, 0.7, 0.5, 0.9) infinite;
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    background: purple;
    border-radius: 50px;
    z-index: 1;
    align-items: center;
    display: flex;
    top: 15px;
}
@keyframes pulse {
    0% {
        opacity: 0;
    }
    100% {
        transform: scale(1.4);
        opacity: 0.4;
    }
}
.nav__toogle {
    width: 3rem;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.nav__toogle-item {
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: transparent;
    padding: 3% 0;
    position: relative;
}
.nav__bar {
    width: 100%;
    height: 0.4rem;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    border-radius: 24px;
}
.nav__bar::before, 
.nav__bar::after {
    content: '';
    width: 100%;
    height: 0.4rem;
    background-color: var(--text-color);
    position: absolute;
    left: 0;
    border-radius: 24px;
}
.nav__bar::before {
    top: -0.7rem;
    transition: top 0.2s linear;
}
.nav__bar::after {
    top: 0.7rem;
    transition: top 0.2s linear;
}
.nav__toogle:hover .nav__bar,
.nav__toogle:hover .nav__bar::before,
.nav__toogle:hover .nav__bar::after
{
    background-color: var(--nav);
}
.nav--open .nav__toogle:hover .nav__bar::before,
.nav--open .nav__toogle:hover .nav__bar::after
{
    background-color: var(--text-color);
}

.nav--open .nav__bar,
.nav--open .nav__bar::before, 
.nav--open .nav__bar::after {
    background-color: var(--background-color);
}
.nav--open .nav__bar {
    background-color: transparent;
}
.nav--open .nav__bar::before {
    top: 0;
    transform: rotate(-45deg);
    transition: top 0.2s 0.2s, transform 0.2s 0.2s linear;
}
.nav--open .nav__bar::after {
    top: 0;
    transform: rotate(45deg);
    transition: top 0.2s 0.2s, transform 0.2s 0.2s linear;
}
.nav--open .nav__menu-item::hover {
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav__submenu {
    display: flex;
    justify-content: end;
    width: 100vw;
    list-style: none;
    flex-direction: column; 
}
.nav__submenu-item {
    text-align: center;
    width: 100%;
}
.nav__submenu-link {
    text-align: center;
    padding: 15px 0 15px 0;
}
.nav__submenu-link:hover {
    color: var(--background-color);
}
@media only screen and (min-width: 1024px) {
    .nav__menu-list {
        flex-direction: row;
        position: static;
        display: flex;
        transform: none;
    }
    .nav {
        background-color: var(--nav);
    }
    .nav__menu-link {
        color: var(--background-color);
    }
    .nav__menu-link:hover, .nav__title:hover {
        color: var(--nav-hover);
        transition: color 250ms;
    }
    .nav__title {
        white-space: nowrap;
        padding-left: 100px;
        line-height: 50px;
        font-size: large;
        color: var(--background-color);
    }
    .nav__toogle {
        display: none;
    }
}





